.newsDetailPage {
    .newsDetailWrapper {
        display: flex;
        justify-content: space-between;
        .leftPart {
            max-width: 350px;
        }
        .rightPart {
            max-width: 730px;
            align-items: center;
            
        }
        .title {
            font-size: 40px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 30px;
        }
        .source {
            font-size: 25px;
            margin-bottom: 30px;
        }
        img {
            max-height: 380px;
            margin-left: auto;
            margin-bottom: 60px;
        }
        .summary {
            font-size: 25px;
            margin: 0;
        }
    }

}